
body{
  background: #ccddee;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
}
/*-----------------------button Section--------------------*/
.buttonSection{
}
.gifBtn{
  padding: 5px;
  margin: 2px;
  border: 1px;
  border-radius: 2px;
  background: #0255ac;
  color: #fff;
}

/*----------------form section-------------------------*/
.formSection{
  margin-top:10px;
}
.textInput{
  width: 171px;
}
.addButton{
  width: 77px;
}
/*----------------------main section-----------------------*/
.mainSection{
}
.gifSection{
  margin-bottom: 20px;
}
.rspData{
  /*width: 200px;*/
  background: #aaaaaa;
  border: 1px solid #0255ac;
  float: left;
  text-align: center;
  border-radius: 5px;
  margin: 0.5%;
}
.rspImg{
  width: 260px;
  height: 200px;
  margin: 1px solid #555;
}

