
body{
  background: #ccddee;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}
.container{
  margin: 10px;
}
/*-----------------------button Section--------------------*/
.buttonSection{
  margin-bottom: 10px;
}
.gifBtn{
  padding: 5px;
  margin: 2px;
  border: 1px;
  border-radius: 2px;
  background: #0255ac;
  color: #fff;
}

/*----------------------main section-----------------------*/
.mainSection{
  overflow:auto;
}
.gifSection{
  width: 900px;
  float:left;
  overflow: auto;
}
.rspData{
  width: 200px;
  background: #aaaaaa;
  border: 1px solid #0255ac;
  float: left;
  text-align: center;
  margin: 0.5%;
}
.rspImg{
  width: 200px;
  height: 180px;
  margin: 1px solid #555;
}
/*----------------form section-------------------------*/
.formSection{
  margin: 0 auto;
  overflow: auto;
  min-width: 200px;
  float: right;
  margin-right: 20px;
}
.inputForm{
}
.buttonInput{
  width: 200px;
  border: 1px solid #999;
  border-radius: 2px;
  margin: 2px;
}
.addButton{
  margin: 5px;
  background: #0255cc;
  border: 1px solid #fff;
  padding: 5px;
}
/*
@media only screen and (max-width: 610px){
  .gifSection{
    width: 300px;
  }
}
*/
